RewriteEngine on
  RewriteBase /archive/
  RewriteRule ^([0-9][0-9][0-9][0-9])/([0-9][0-9])$ index.php?theyear=$1&themonth=$2
  RewriteRule ^([0-9][0-9][0-9][0-9])/([0-9][0-9])/$ index.php?theyear=$1&themonth=$2
  RewriteRule ^([a-z_]+)$ index.php?filename=$1
  RewriteRule ^([a-z_]+)/$ index.php?filename=$1
  RewriteRule ^([0-9]+)$ index.php
  RewriteRule ^([0-9]+)/$ index.php
  
  
