/* @group Reset */

h1, h2, h3, h4, h5, h6, address, p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, div,
table, caption, colgroup, tbody, thead, tfoot, tr, td, th, form, fieldset, legend, label, input, button, select, textarea {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
input, textarea, select, button, optgroup {
    font-family: inherit;
    font-size: 1em;
    line-height: inherit;
}

img {
	max-width: 100%;
}

/* @end */
/* @group OpenType features */

.c2sc { /* Smallcaps from caps */
	-moz-font-feature-settings:"c2sc=1";
	-moz-font-feature-settings:"c2sc" 1;
	-ms-font-feature-settings:"c2sc" 1;
	-o-font-feature-settings:"c2sc" 1;
	-webkit-font-feature-settings:"c2sc" 1;
	font-feature-settings:"c2sc" 1; 
}

section {
	-moz-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "calt" 0;
	-moz-font-feature-settings:"onum=1, pnum1, kern=1, liga=1, calt=1";
	-ms-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1;
	-o-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1;
	-webkit-font-feature-settings:"onum" 1, "pnum" 1 ,"kern" 1, "liga" 1;
	font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1; 
}

/* @end */


/* @group Webfonts */

body  {
	font-family: "Akagi Medium", "Akagi", "Akagi-Medium", Calibri, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-size-adjust: 0.488;
}

h1 {
    font-family: "Hoefler Text", "HoeflerText-BlackItalic", "Ingeborg Heavy Italic", "Ingeborg Heavy", "Ingeborg-HeavyItalic", Georgia, serif;
    font-weight: 800;
    font-style: italic;
    font-size-adjust: 0.465;
}

b, strong {
	font-family: "Akagi Bold", "Akagi", "Akagi-Bold", Calibri, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	font-size-adjust: 0.492;
}

i, em, cite {
	font-family: "Akagi Medium Italic", "Akagi", "Akagi-MediumItalic", Calibri, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-style: italic;
	font-size-adjust: 0.488;
}
pre, code, kbd, tt, samp, tt {
	font-family: monospace;
}

/* @end */

html {
	font-size: 10px;
}

body {
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5; /* 24px rhythm */
}

article p {
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-o-hyphens:auto;
	-webkit-hyphens:auto;
	hyphens:auto;
}

/* ---------------------------- Media queries ---------------------------- */


@media only screen and (min-width: 38em) {

body {
	padding: 0 21%;
	margin: 0;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.333;
}

article p {
	-moz-hyphens: none;
	-ms-hyphens: none;
	-o-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}

h1 {
	font-size: 72px;
}

}


@media only screen and (min-width: 66em) {



}
