/* @group Reset */

h1, h2, h3, h4, h5, h6, address, p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, div,
table, caption, colgroup, tbody, thead, tfoot, tr, td, th, form, fieldset, legend, label, input, button, select, textarea {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
input, textarea, select, button, optgroup {
    font-family: inherit;
    font-size: 1em;
    line-height: inherit;
}
img {
	max-width: 100%;
}
[title] {
	border: 0;
}

/* @end */
/* @group OpenType features */

.c2sc { /* Smallcaps from caps */
	-moz-font-feature-settings:"c2sc=1";
	-moz-font-feature-settings:"c2sc" 1;
	-ms-font-feature-settings:"c2sc" 1;
	-o-font-feature-settings:"c2sc" 1;
	-webkit-font-feature-settings:"c2sc" 1;
	font-feature-settings:"c2sc" 1; 
}

section {
	-moz-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1, "calt" 0;
	-moz-font-feature-settings:"onum=1, pnum1, kern=1, liga=1, calt=1";
	-ms-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1;
	-o-font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1;
	-webkit-font-feature-settings:"onum" 1, "pnum" 1 ,"kern" 1, "liga" 1;
	font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "liga" 1; 
}

/* @end */

/* @group Color */

body {
	background: rgb(159,210,205);
	color: rgba(0,0,0,0.8);
}

a {
	color: inherit;
	background: rgba(255,255,255,0.33);
	text-decoration: none;
}

h1 {
	color: rgba(0,0,0,0.9);
}

/* highlight
	color: #a94821; */

/* @end */

/* @group Webfonts */

body  {
	font-family: "Akagi Medium", "Akagi-Medium", "Akagi", Calibri, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-size-adjust: 0.488;
}

h1 {
    font-family: "Ingeborg-Heavy", "Ingeborg Heavy", "HoeflerText-Black", "Hoefler Text", Georgia, serif;
    font-weight: 800;
    font-size-adjust: 0.455;
}

h2, h3, h4, h5, h6, b, strong {
	font-family: "Akagi Bold", "Akagi-Bold", "Akagi", Calibri, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	font-size-adjust: 0.492;
}

i, em, cite {
	font-family: "Akagi Medium Italic", "Akagi-MediumItalic", "Akagi", Calibri, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-style: italic;
	font-size-adjust: 0.488;
}
pre, code, kbd, tt, samp, tt {
	font-family: consolas, monospace;
	font-size-adjust: 0.488;
}

/* @end */

html {
	font-size: 10px;
	font-size: 0.625em;
}

body {
	font-size: 1.6em;
	font-size: 1.6rem;
	line-height: 1.5em; /* 24px rhythm */
	margin: 0;
	padding: 0;
}

article h1, article h2, article h3, article ul, article ol, article table, article blockquote, article p {
	padding: 0 5%;
}

article h4 {
	padding: 0 0.75em 0 5%;
}

.published {
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 1.385em;
	margin-top: 0.462em;
}

h1 {
	line-height: 1.167em;
	font-size: 24px;
	font-size: 2.4rem;
	margin-bottom: 0.667em;
	margin-top: 0.167em;
}

h2 {
	font-size: 18px;
	font-size: 1.8rem;
	margin-top: 1.33333333333333em;
	margin-bottom: 0.66666666666667em;
}
h3 {
	font-size: 16px;
	font-size: 1.6rem;
	margin-top: 0.75em;
}

h4, h5, h6 {
	font-size: 16px;
	font-size: 1.6rem;
	float: left;
}

article p {
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-o-hyphens:auto;
	-webkit-hyphens:auto;
	hyphens:auto;
	margin-bottom: 0.75em;
}

.meta {
	display: none;
}

/* ---------------------------- Media queries ---------------------------- */


@media only screen and (min-width: 38em) {

body {
	padding: 1.8rem 0;
	font-size: 18px;
	font-size: 1.8rem;
}

article section {
	padding: 0 21%;
}

article p {
	-moz-hyphens: none;
	-ms-hyphens: none;
	-o-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}

h1 {
	font-size: 72px;
	font-size: 7.2rem;
}

}


@media only screen and (min-width: 66em) {

html {
	font-size: 11.11px;
}

}
