#main {
    background: rgba(255,255,255,0.65);
    padding-bottom: 2.66666666666667em;
}

.prose ul, ul.xoxo, ul.xoxo ul {
/* unordered lists more often DON'T require bullets except in extended bits of writing. Where bullets are required apply the .prose class to a container, or apply directly with .xoxo */
	list-style-type: disc;
	margin-left: 1.5em;
}

.clear {
	clear: both;
}

.leader {
	font-size: 24px;
	line-height: 1.25em /* 30px */;
	margin-bottom: 2em;
	color: #000;
}

abbr.dtstart {
	white-space: nowrap;
}

/* @group Keypoints */

.keypoints {	
	margin-bottom: 0;
}

.keypoints.xoxo {
	margin-left: 0;
	list-style-type: circle;
}

/* @end */

/* @group breadcrumb & pagination */

#main nav {
	position: relative;
	box-shadow:0 1px 0 0 #e6e9e9;
	margin-bottom: 1.333333333em;
}

.breadcrumb {
	padding-bottom: 0.66666666666667em;
}

.pagination li {
	display: inline-block;
	overflow: hidden;
}
.pagination a {
    width:1.3333em;
    height:1.3333em;
    display:block;
    text-indent:-999em;
    line-height:0;
    opacity: 0.3;
	background: #e6e9e9 url(/i/prl-icons.png) no-repeat;
}

.pagination a[rel=prev] {
	background-position: -12px -60px;
}

.pagination a[rel=next] {
	background-position: -92px -60px;
}

.pagination a:hover {
	opacity:1;
}

/* @end */

/* @group Figures and Groups of Things */

.figures {
	margin-top: 2.66666666666667em;
	margin-bottom: 1.66666666666667em;
}

.figures li {
	padding-bottom: 1em;
}

.things {
	margin: 2.6667em 0 1.66666666666667em 0;	
	overflow: hidden;
}

.group {
	border-top: 1px solid #e6e9e9;
	padding-top: 0.38888888888889em;
}

.thing, .lanyrd-listing .vevent {
	font-size: 15px;
	line-height: 1.4em;
	padding-bottom: 1.2em;
}

.thing p {
	margin-bottom: 0.93333333333333em /* 14px */;
}

.thing img {
	float:left;
	margin: 0 12px 0.93333333333333em 0;
}

.thing h5 img {
	float: none;
	margin: 0 0 0.46666666666667em 0;
}

.books .thing img {
	height: 5.6em;
}

p.meta, .lanyrd-listing p {
	margin-bottom: 0;
}

.section-made .figures .n3 img {
	border: 3px solid #fff;
}

/* @end */

/* @group Blockquote */

.byline {
	color: rgb(101,101,101);
	font-size: 15px;
	line-height: 1.4;
	margin-bottom: 1.6em;
}



/* @end */

/* @group Cloud list */

ul.cloud {
	margin-bottom: 1.33333333333333em;
}

.cloud li {
	display:inline-block;
	padding: 0  1.33333333333333em 0 0;
}

.cloud.tags li {
	padding: 0;
}

.tags a {
	background: url(/i/tag.png) no-repeat 6px center;
	padding: 0 0.44444444444444em 0 1.33333333333333em;
	white-space: nowrap;
}

.cloud img {
	margin-bottom: 0.44444444444444em;
}

/* @end */

/* @group social icons */

ul.elsewhere {
	font-size: 15px;
	margin-bottom: 1.6em;
}

.elsewhere a {
	padding: 0 0.53333333333333em 0 1.6em;
	background-repeat: no-repeat;
	background-position: left center;
	min-height: 16px;
}

.website {
	background-image: url(/i/icons/website-16x16.png);
}

.dribbble {
	background-image: url(/i/icons/dribbble-16x16.png);
}

.facebook {
	background-image: url(/i/icons/facebook-16x16.png);
}
.flickr {
	background-image: url(/i/icons/flickr-16x16.png);
}

.huffduffer {
	background-image: url(/i/icons/huffduffer-16x16.png);
}

.github {
	background-image: url(/i/icons/github-16x16.png);
}

.googleplus {
	background-image: url(/i/icons/google+-16x16.png);
}

.lanyrd {
	background-image: url(/i/icons/lanyrd-16x16.png);
}

.lastfm {
	background-image: url(/i/icons/lastfm-16x16.png);
}

.linkedin {
	background-image: url(/i/icons/linkedin-16x16.png);
}

.pinboard {
	background-image: url(/i/icons/pinboard-16x16.png);
}

.speakerdeck {
	background-image: url(/i/icons/speakerdeck-16x16.png);
}

.twitter {
	background-image: url(/i/icons/twitter-16x16.png);
}

/* @end */

/* @group Boxout */

.boxout {
	background: rgba(111,167,8,0.25);
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 2.6667em 0;
}

.boxout .group {
	border-top: 0;
}

/* @end */

/* @group Aside over-rides */

aside h3 {
	margin-top: 0.66666666666667em /* 12px */;
}

aside .boxout {
	margin: 0;
}

aside .figures {
    margin-top: 0;
}

aside ul.cloud {
	font-size: 15px;
	margin-bottom: 1.6em;
}

aside .cloud li {
	padding: 0 1.6em 0 0;	
}

aside .cloud.tags li {
	padding: 0;	
}

aside .tags a {
	padding: 0 0.53333333333333em 0 1.6em;
}

/* @end */

/* @group Lanyrd overrides */

.js .lanyrd-presentations {
    opacity: 0;
    
}
.js .lanyrd-presentations.show {
    opacity: 1;
   -webkit-transition: opacity 0.3s ease;
   -moz-transition: opacity 0.3s ease;
   -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

ol.lanyrd-listing {
	margin-left: 0;
	list-style-type: none;
	width: auto;
}

.lanyrd-listing .location a {
	color: inherit;
}

.lanyrd-listing .location img {
	box-shadow:none;
	vertical-align: middle;
	margin-right: 7px;
	width: 16px;
	height: 16px;
}

.session-mini.icon {
    padding-left: 25px;
	background: url("/i/comment.png") no-repeat left center;
}

/* @end */

/* @group Header */

header {
    background: rgba(255,255,255,0.65);
}

header a:link img {
	box-shadow:none;
	vertical-align: top;
}

nav.primary ul {
	font-size: 21px;
    line-height: 1.14285714285714em;
    width:auto;
    margin-left: 0;
}

nav.primary li {
	margin-left: 0.15em;
}

nav.primary li::before {
    color:#9c1;
    content:"/ ";
    margin-right:0.15em;
}

nav.primary li:first-child::before {
	content: "";
	margin-right: 0;
}

nav.primary a {
	color: rgb(0,90,90);
}

nav.secondary {
	font-size: 13px;
	line-height: 1.38461538461538em;
}

nav.secondary a {
	margin-left: 1em;
}

/* @end */

/* @group Footer */

footer {
    background: rgba(255,255,255,0.4);
	overflow:auto;
    clear: both;
	border-top: 6px solid #99CC11;
    padding: 0.66666666666667em 0 2.66666666666667em 0;
}

footer h2 {
	margin-top: 0;
}

footer p {
	margin-top: 0.46666666666667em;
	margin-bottom: 0;
	font-size: 15px;
	line-height: 1.4em;
}

footer small {
	font-size: 13px;
	line-height: 1.38461538461538em;
	display: block;
	margin-top: 2.76923076923077em;
}

footer li {
	display: inline;
}

footer li a {
	text-decoration: none;
}


/* @end */