body {
	padding: 0 4.545454545455%;
}

#main {
    clear: both;
    overflow: hidden;
    position: relative;
}

#main, header, footer {
	width:1056px;
    max-width: 1056px;
    margin: 0 auto;	
}

h1 {
    margin-left: 4.545454545455%;
    margin-right: 4.545454545455%;
}

h2 {
	margin-left: 4.545454545455%;
	width: 59.09090909%;

}

h3 {
	margin-left: 4.545454545455%;
	width: 59.09090909%;
}

h4 {
	float: left;
    margin-left: 4.545454545455%;
}

p, ul, ol {
    margin-left: 4.545454545455%;
	width: 59.09090909%;
}

/* @group Figures + Groups of Things */

.thing {
	overflow: auto;
}

.figures ul {
	width: auto;
	margin-left: 0;
	margin-bottom: 0;
	overflow: hidden;
}

figure h3 {
	margin-left: 0;
	width: auto;
}

figcaption {
	margin-left: 0.8em;
}

.group h2, .group h3, .group h4, .group p, .group ul {
	margin-top: 0;
	margin-left: 0;
	width: auto;
}

.group p {
}

/* @group Full width fig */

.figures .n0 {
	overflow: visible;
}

.figures .n0 li img {
	width: 100%;
}

/* @end */

/* @group 1 Fig */

.figures .n1 li, .things.n1 {
    padding-left: 4.545454545455%;
    padding-right: 4.545454545455%;
    clear: right;
}

/* @end */

/* @group 2 Figs */

.figures .n2 li, .things.n2 .group {
	width: 43.18181818%;
	float: left;
    margin-left: 4.545454545455%;
}

.figures .n2 li+li, .things.n2 .group+.group {
	float: none;
	margin-left: 52.27272727%;
}

/* @end */

/* @group 3 Figs or Groups */

.figures .n3, .things.n3 {
    clear: right;
}

.figures .n3 li, .things.n3 .group  {
	width: 27.27272727%;
	float: left;
    margin-left: 4.545454545455%;
}

.group.n3 .thing {
	width: 30%;
	float: left;
    margin-right: 5%;
    overflow: visible;
 }

.group.n3 .thing:nth-child(3n), .figures .n3 li:nth-child(3n), .things.n3 .group:nth-child(3n) {
	margin-right: 0;
}

.group.n3 .thing:nth-child(3n+1), .things.n3 .group:nth-child(3n+1), .figures .n3 li:nth-child(3n+1) {
	clear: left;
}

/* @end */

/* @end */

/* @group Strip (home page) */

.strip {height:285px}
.figures.strip li {width:25%; height:285px; position:relative; overflow:hidden; float:left; padding:0; box-shadow: 0 0 6px rgba(0,0,0,0.25)}
.figures.strip li img.thumb {max-width:none; width:auto}
.mask {position:absolute; top:0; left:0; height:285px}
.strip a:hover .mask, .strip a:focus .mask {opacity:0.5}

/* @end */

/* @group Asides and Boxouts */

aside {
	float: right;
	width: 27.27272727%;
	margin-right: 4.545454545455%;
}

aside p, aside ul, aside h3, aside .figures .n1 li {
	margin-left: 0;
	margin-right: 0;
	width: auto;
}

aside .boxout {
	padding-left: 1.3333em;	
	padding-right: 1.3333em;	
}


.boxout.n3 {
	overflow: auto;
}

/* @end */

/* @group Header */

header {
	padding: 2.6667em 0 6.66666666666665em 0;
	position: relative;
}

header nav ul {
    width:auto;
    margin-left: 0;
}

header nav li {
    display:inline;
}

nav.primary {
    float:right;
	margin: 0.72222222222222em 4.545454545455% 0 0;
}

nav.secondary {
	position: absolute;
	top: 0;
	right: 4.545454545455%;
}

#main nav p, #main nav ul {
	width: auto;
}

.pagination {
	position: absolute;
	right: 4.545454545455%;
	top: 0;
}


/* @end */

/* @group Footer */

footer small {
	margin-left: 4.545454545455%;
}

footer nav {
	float: right;
	margin-right: 4.545454545455%;
}

footer ul {
	margin-left: 0;
	width: auto;
}

/* @end */
