body  {
	font-family: "Akagi-Medium", "Akagi Medium", "Akagi", Calibri, "Segoe UI", "PT Sans", sans-serif;
	font-size-adjust: 0.488;
	font-weight: 500;
	background: rgba(200, 195, 187, 0.25);
	color: #000;
}

a {
	text-decoration: none;
	color: #dc423b;
	transition:	all 0.15s linear;
}

a:hover, a:active {
	background-color: rgb(227, 224, 220);
	box-shadow: 0px 0px 0 3px rgb(227, 224, 220), 0px 0px 6px 3px rgba(0,0,0, 0.1);
}