.section {
	clear: both;
}

.primary,
.secondary,
.tertiary,
.quaternary,
.quinary,
.senary {
	outline: 1px dotted #999;
}

/* @group t6 */

.t6 .primary {
	padding-right:1%;
	padding-left:1%;
}

/* @end */

/* @group t15 */

.t15 .primary {
	width: 81.3333333333333%;
	padding-left:1%;
	padding-right:1%;
	float: right;
}

.t15 .secondary {
	margin-right: 84.3333333333333%;
	padding-left: 1%;
}

/* @end */

/* @group t24 */

.t24 .primary {
	width: 64.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: right;
}

.t24 .secondary {
	margin-right: 67.666666666666667%;
	padding-left: 1%;
}

/* @end */




/* @group t321 */

.t321 .primary {
	width: 48%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t321 .secondary {
	width: 31.333333333333333%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t321 .tertiary {
	margin-left: 84.333333333333333%;
	padding-right: 1%;
}

/* @end */

/* @group t33 */

.t33 .primary {
	width: 48%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t33 .secondary {
	margin-left: 51%;
	margin-right: 0;
	padding-right: 1%;
}

/* @end */

/* @group t42 */

.t42 .primary {
	width: 64.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t42 .secondary {
    margin-right: 0;
	margin-left: 67.666666666666667%;
	padding-right: 1%;
}

/* @end */

/* @group t51 */

.t51 .primary {
	width: 81.3333333333334%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t51 .secondary {
	margin-left: 82.3333333333334%;
	padding-right: 1%;
}

/* @end */

/* @group t411 */

.t411 .primary {
	width: 64.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;}

.t411 .secondary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;}

.t411 .tertiary {
	margin-left: 84.333333333333333%;
	padding-right: 1%;
}

/* @end */

/* @group t141 */

.t141 .primary {
	width: 64.666666666666667%;
	margin-left: 16.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;}

.t141 .secondary {
	width: 14.666666666666667%;
	margin-left: -83%;
	padding-left:1%;
	padding-right:1%;
	float: left;}

.t141 .tertiary {
	margin-left: 84.333333333333333%;
	padding-right: 1%;
}

/* @end */

/* @group t224 */

.t224 .primary,
.t224 .secondary {
	width: 23%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t224 .tertiary {
	margin-left: 49%;
	padding-left: 1%;
}

/* @end */


/* @group t312 */

.t312 .primary {
	width: 48%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t312 .secondary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t312 .tertiary {
	margin-left: 67.666666666666667%;
	padding-right: 1%;
}

/* @end */

/* @group t222 */

.t222 .primary {
	width: 31.333333333333333%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t222 .secondary {
	width: 31.333333333333333%;
	margin: 0;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t222 .tertiary {
	margin-left: 67.666666666666667%;
	padding-right: 1%;
}

/* @end */

/* @group t1122 */

.t1122 .primary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t1122 .secondary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t1122 .tertiary {
	width: 31.333333333333333%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t1122 .quaternary {
	margin-left: 67.666666666666667%;
	padding-right: 1%;
}

/* @end */

/* @group t2112 */

.t2112 .primary {
	width: 31.333333333333333%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t2112 .secondary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t2112 .tertiary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t2112 .quaternary {
	margin-left: 67.666666666666667%;
	padding-right: 1%;
}

/* @end */

/* @group t2121 */

.t2121 .primary {
	width: 31.333333333333333%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t2121 .secondary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t2121 .tertiary {
	width: 31.333333333333333%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t2121 .quaternary {
	margin-left: 84.333333333333333%;
	padding-right: 1%;
}

/* @end */

/* @group t2211 */

.t2211 .primary {
	width: 31.333333333333333%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t2211 .secondary {
	width: 31.333333333333333%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t2211 .tertiary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t2211 .quaternary {
	margin-left: 84.333333333333333%;
	padding-right: 1%;
}

/* @end */

/* @group t11211 */

.t11211 .primary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t11211 .secondary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t11211 .tertiary {
	width: 31.333333333333333%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t11211 .quaternary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t11211 .quinary {
	margin-left: 84.333333333333333%;
	padding-right: 1%;
}

/* @end */

/* @group t11112 */

.t11112 .primary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t11112 .secondary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t11112 .tertiary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t11112 .quaternary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t11112 .quinary {
	margin-left: 67.666666666666667%;
	padding-right: 1%;
}

/* @end */

/* @group t111111 */

.t111111 .primary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t111111 .secondary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t111111 .tertiary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t111111 .quaternary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t111111 .quinary {
	width: 14.666666666666667%;
	padding-left:1%;
	padding-right:1%;
	float: left;
}

.t111111 .senary {
	margin-left: 84.333333333333333%;
	padding-right: 1%;
}

/* @end */
