/* @group Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
figure, figcaption,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-style: normal;
	font-weight: normal;
}

ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:focus { /* put this back somewhere! */
	outline: 0;
}

table { /* tables may still need 'cellspacing="0"' in the markup */
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea, select, button, optgroup {
	font-family: inherit;
	font-size: 1em;
	line-height: inherit;
}

/* @end */

html {
	font-size: 16px;
	line-height: 1.5em; /* 24px baseline grid */
}

/* @group Grid */

.section {
	clear: both;
	overflow: hidden;
}

/* @group t10 */

.t10 .primary {
	width: 96%;
	padding-left:2%;
}

.t10 .figures {
    margin: 3em 0 /* 48px */;
}

.t10 .figures.n0 li { /* full width */
	padding: 1.5em 10.416666666667%;
	background-repeat: repeat-x;
	background-position: center center;
}

.t10 .figures.n0 img {
	-moz-box-shadow: 0 0 16px 0 rgba(0,0,0,0.75);
} 

.t10 .figures.n1 li {
	padding-left: 10.416666666667%;
}

.t10 .figures.n1 img {
	width: 53.48837209%;
	float: left;
	margin-right: 4.54545454544%;
}

.t10 .figures.n1 figcaption {
	margin-right: 11.36363636%;
}

.t10 .primary .figures.n3 li {
	
    width: 30.5555555555553%;
    float: left;
    padding-right: 4.166666666667%;
}

.t10 .primary .figures.n3 li + li {
    padding-right: 0;
}

.t10 .primary .figures.n3 li + li + li {
    float:right;
 }

.t10 .primary .figures.n5 li {
	
    width: 18.3333333333336%;
    float: left;
    padding-right: 2.083333333333%;
}

.t10 .primary .figures.n5 li + li + li + li {
    padding-right: 0;
}

.t10 .primary .figures.n5 li + li + li + li + li {
    float:right;
 } 
/* @end */

/* @group t64 */

.t64 .primary {
	width: 56%;
	padding-left:2%;
	padding-right:2%;
	float: left;
}

.t64 .secondary {
	margin-left: 62%;
	padding-right: 2%;
}

.t64 .primary h1, .t64 .primary h2, .t64 .primary h3, .t64 .primary h5, .t64 .primary p {
	margin-left: 17.86%;
}

.t64 .secondary aside {
	margin-right: 27.78%;
}

.t64 .primary .figures.n3 li {
	
    width: 30.9533333333333%;
    float: left;
    padding-right: 3.57%;
}

.t64 .primary .figures.n3 li + li {
    padding-right: 0;
}

.t64 .primary .figures.n3 li + li + li {
    float:right;
 }

/* @end */

/* @group t46 */

.t46 .primary {
	width: 56%;
	padding-left:2%;
	padding-right:2%;
	float: right;
}

.t46 .secondary {
	margin-right: 62%;
	padding-left: 2%;
}

.t46 .primary h1, .t46 .primary h2, .t46 .primary p {
	margin-right: 17.86%;
}

.t46 .secondary aside {
	margin-left: 27.78%;
}

.t46 .primary .figures.n3 li {	
    width: 30.9533333333333%;
    float: left;
    padding-right: 3.57%;
}

.t46 .primary .figures.n3 li + li {
    padding-right: 0;
}

.t46 .primary .figures.n3 li + li + li {
    float:right;
 }

/* @end */

/* @end */

/* @group Font families */

body {
	font-family:Premiera, "Premiera Book", 'Droid Serif', Georgia, serif;
	font-size-adjust: 0.453;
}

b, strong, h1, footer h2, h5 {
	font-family:Premiera, "Premiera Bold", 'Droid Serif', Georgia, serif;
	font-weight: bold;
	font-style: normal;
	font-size-adjust: 0.461;
}

i, em, blockquote p, aside blockquote p {
	font-family:Premiera, "Premiera Italic", 'Droid Serif', Georgia, serif;
    font-style:normal;
	font-style: italic;
	font-size-adjust: 0.453;
}

h2, h3, aside h2, aside h3, h4 {
    font-family:"Akagi SemiBold", 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size-adjust:0.49;
    font-weight:600;
    font-style:normal;
}

#primary {
	font-family: "Akagi Light", 'Droid Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-weight: 200;
    font-style:normal;
	font-size-adjust: 0.49;
}

#secondary, footer ul, figcaption {
	font-family: "Akagi Book", 'Droid Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-weight: 300;
    font-style:normal;
	font-size-adjust: 0.49;
}

#masthead, aside, .section-is #nav-is, .section-does #nav-does, .section-made #nav-made, .section-contact #nav-contact {
	font-family: "Akagi Medium", 'Droid Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-weight: 500;
    font-style:normal;
	font-size-adjust: 0.49;
}

.vevent .meta, .thing cite {
	font-family:"Akagi Medium Italic", 'Droid Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-weight: 500;
    font-style: italic;
	font-size-adjust: 0.49;
}

figcaption cite {
	font-family: "Akagi Book Italic", 'Droid Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-weight: 300;
    font-style: italic;
	font-size-adjust: 0.49;
}

pre, code, kbd, tt, samp, tt {
	font-family: monospace;
}

/* @end */

/* @group Global elements */

body {
    color: rgb(0,60,60);
    background: rgb(237,238,239);
}

a:link {
    color: rgba(31,136,204,1);
}

a:visited {
    color: rgba(31,136,204,0.9);
}

a:hover, a:focus, a:active {
    color: rgba(31,136,204,0.7);
    -moz-transition: all 0.3s ease 0s;
}



h1 {
	font-size: 48px;
	line-height: 1em /* 48px */;
	margin-bottom:0.5em /* 24px */;
    text-shadow: 0 1px 0 #FFFFFF;
    color: rgb(0,72,72);
}

h2 {
    font-size: 24px;
    line-height: 1.375em /* 33px */;
    margin-top: 1em; /* 24px */
    text-shadow: 0 1px 0 #FFFFFF;
    clear: left;
}

h3 {
    font-size: 18px;
    line-height: 1.16666666666667em /* 21px */;
    margin-top:0.66666666666667em /* 12px */;
    margin-bottom: 0.16666666666667em /* 3px */;
    text-shadow: 0 1px 0 #FFFFFF;
}

h5 {
	float: left;
	margin-right:0.75em;
}

p, ul, ol {
	margin-bottom: 1.5em;
}

ol {	/* ordered lists usually DO require (numbered) bullets */
	list-style-type: decimal;
	margin-left: 2em;
}

ul ul, ol ol, ol ul, ul ol {
	margin-bottom: 0;
}

.prose ul, ul.xoxo, ul.xoxo ul {
/* unordered lists more often DON'T require bullets except in extended bits of writing. Where bullets are required apply the .prose class to a container, or apply directly with .xoxo */
	list-style-type: disc;
	margin-left: 1.5em;	
}

.clear {
	clear: both;
}

.figures {
	overflow: hidden;
}

figure {
	text-align: center;
}

img {
	max-width: 100%;
	vertical-align: bottom;
	-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
	-ms-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
	-o-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
	margin-bottom: 2px;
}

figcaption {
    font-size: 14px;
    line-height: 1.28571428571429em /* 18px */;
    padding: 0.14285714285714em 2% /* 2px 0 */;
    text-align: left;
    color: rgba(0,60,60, 0.8);
}

ins {
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

abbr[title] {
	border-bottom: none;
}

#main {
    clear: both;
    overflow: hidden;
    padding: 3em 2%; /* 48px */
    background: rgb(250,252,242);
	border-bottom: 3px solid rgba(255,255,255,1);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    position: relative;
}

/* @group prevnext nav */

nav.prevnext {
	position:absolute;
	right:4%;
	top:3.5em;
	width: 4.5em;
}
.prevnext a.prev, .prevnext a.next {
	text-indent:-999em;
	background:url('/i/prl-icons.png') no-repeat -3.75em -2.25em;
	-webkit-background-size:6em 29.25em;
	-moz-background-size:6em 29.25em;
	-o-background-size:6em 29.25em;
	background-size:6em 29.25em;
	border-bottom:0 none;
	width:2.25em;
	height:2.25em;
	overflow:hidden;
	display:block;
	-webkit-tap-highlight-color:transparent;
	opacity:0.33;
}
.prevnext a.prev {
	background-position:0 -2.25em;
	float:left
}
.prevnext a.prev:hover, .prevnext a.prev:focus, .prevnext a.next:hover, .prevnext a.next:focus {
	opacity:0.66
}
.prevnext a.prev:active, .prevnext a.next:active{
	opacity:1;
	outline:0 none;
}

/* @end */

.intro {
	font-size: 21px;
	line-height: 1.28571428571429 /* 27px */;
	margin-bottom: 1.14285714285714em /* 24px */;
}

aside {
    color: rgba(0,60,60, 0.8);
    margin-bottom:2.25em /* 36px */;	
}

aside h3 {
    margin-top: 1.33333333333333em; /* 24px */
    margin-bottom: 0.5em /* 9px */;
}

aside p, aside ul {
	margin-bottom: 0;
}

aside p, aside ul, aside h4 {
	font-size: 14px;
	line-height: 1.28571428571429em /* 18px */;
}

aside li {
	margin-top:0.21428571428571em; /* 3px */
}

aside a {
    text-decoration: none;
}

aside .description {
	margin-bottom: 0.85714285714286em /* 12px */;
}

.thing {
	overflow: hidden;
}

.thing p {
	margin-bottom: 0.64285714285714em /* 9px */;
}

.thing img {
	float:left;
	margin: 0 12px 1.28571428571429em 0;
}

blockquote {
    text-indent:-0.5em;
}

aside blockquote p {
    font-size: 21px;
	line-height: 1.28571428571429 /* 27px */;
	margin-bottom: 0.57142857142857em /* 12px */;
    color: rgba(0,30,90,0.8);
}

.tags li {
	display:inline-block;
}

.tags a {
	background: url(/i/tag.png) no-repeat left center;
	padding: 0 8px 0 16px;
	white-space: nowrap;
}

.boxout {
	padding: 0.75em 1.5em 1.5em 1.5em;
	background: rgba(0,0,0,0.1);
    color: rgb(0,60,60);
}

.boxout ul {
    font-size: 16px;
    line-height: 1.3125em;
}

.boxout h3:first-child {
	margin-top: 0;
}

/* @group social icons */

.elsewhere a {
	padding-left: 24px;
	background-repeat: no-repeat;
	background-position: left center;
	min-height: 16px;
}

.website {
	background-image: url(/i/icons/website-16x16.png);
}

.flickr {
	background-image: url(/i/icons/flickr-16x16.png);
}

.github {
	background-image: url(/i/icons/github-16x16.png);
}

.googleplus {
	background-image: url(/i/icons/google+-16x16.png);
}

.linkedin {
	background-image: url(/i/icons/linkedin-16x16.png);
}

.pinboard {
	background-image: url(/i/icons/pinboard-16x16.png);
}

.twitter {
	background-image: url(/i/icons/twitter-16x16.png);
}

/* @end */

/* @end */



/* @group Header */

header {
	position: relative;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    z-index: 10;
    padding: 0 2% 1.3125em 2%; /* 24px */
}

#masthead {
	padding-left: 10.416666666667%;
    text-shadow: 0 1px 0 #FFFFFF;

}

#masthead h4 {
	font-size: 36px;
	line-height: 1em;
	position: relative;
	left: -108px;
	margin: 0;
}

#masthead a {
	color: rgb(0,60,60);
	text-decoration: none;
}

#masthead img {
	position: relative;
	top: 26px;
	padding-right: 12px;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom: 0;
}

header .primary {
	overflow: hidden;
}

header ul {
    margin: 0;
}

header li {
	display: inline-block;
}

#primary {
	float: right;
    font-size: 24px;
    line-height: 1.33333333333333 /* 32px */;
    text-shadow: 0 1px 0 #FFFFFF;
}

#primary a {
	text-decoration: none;
	padding: 0.25em 0.75em;
}

#primary a:link, #primary a:visited {
	color: rgb(0,90,90);
}

#primary a:active, #primary a:hover, #primary a:hover {
	color: rgb(0,30,30);
}

#primary ul:last-child a {
	padding-right: 0;
}

#secondary {
	position: absolute;
	left: 0;
	top:0;
	width: 98%;
	padding-right: 2%;
	text-align: right;
	font-size: 14px;
}

#secondary li a {
	text-decoration: none;
	padding: 0.25em 0 0.25em 0.5em;
}


/* @end */

/* @group Footer */

footer {
	margin-bottom: 3em;
	padding: 0 2% 1.3125em 2%; /* 24px */
	overflow:auto;
    clear: both;
}

footer ul {
	float: right;
	font-size: 14px;
}

footer li {
	display: inline-block;
}

footer li a {
	text-decoration: none;
	padding: 0.25em 0.25em;
}

footer li:last-child a {
	padding-right: 0;
}

footer small em {
	display: block;
}

/* @end */

.primary,
.secondary,
.tertiary,
.quaternary,
.quinary,
.senary {
	poutline: 1px dotted #ccc;
}