Options +FollowSymlinks
# no hot-linking or direct downloading of fonts
RewriteEngine On
RewriteCond %{HTTP_REFERER} !clagnut [NC]
RewriteRule .* /errors/403.php [E=403,NC] 

ErrorDocument 403  /errors/403.php
ErrorDocument 404  /errors/404.php