/* Fade in fonts */
.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading h5,
.wf-loading .leader,
.wf-loading p {
	opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
.leader,
p  {
	opacity: 1;
}

h1, h2, h3, h4, h5, p, .leader {
       -webkit-transition:all 0.2s ease;
       -moz-transition:all 0.2s ease;
       -o-transition:all 0.2s ease;
        transition:all 0.2s ease;
}


/* @group Fallback fonts */

/* Force fallback font to show first

.wf-loading body  {
	font-family: 'Droid Serif', Georgia, serif;
}

.wf-loading b,
.wf-loading strong,
.wf-loading h1,
.wf-loading h2,
.wf-loading aside h3,
.wf-loading .group h3 {
	font-family: Cambria, 'Droid Serif', Georgia, serif;
}

.wf-loading i,
.wf-loading em,
.wf-loading blockquote p,
.wf-loading aside blockquote p {
	font-family: 'Droid Serif', Georgia, serif;
}

.wf-loading h3,
.wf-loading h4,
.wf-loading figcaption strong {
    font-family: Calibri, 'Droid Sans', 'Trebuchet MS', Arial, sans-serif;
}

.wf-loading h5,
.wf-loading .section-is #nav-is,
.wf-loading .section-does #nav-does,
.wf-loading .section-made #nav-made,
.wf-loading .section-contact #nav-contact {
    font-family: Calibri, 'Droid Sans', 'Trebuchet MS', Arial, sans-serif;
}

.wf-loading header,
.wf-loading #main nav,
.wf-loading .leader,
.wf-loading footer ul,
.wf-loading figcaption,
.wf-loading .byline {
	font-family: Calibri, 'Droid Sans', 'Trebuchet MS', Arial, sans-serif;
}

.wf-loading aside,
.wf-loading .group,
.wf-loading footer {
	font-family: Calibri, 'Droid Sans', 'Trebuchet MS', Arial, sans-serif;
}

.wf-loading .vevent .meta,
.wf-loading .thing cite,
.wf-loading footer em,
.wf-loading .group i,
.wf-loading .group cite,
.wf-loading .published {
	font-family: Calibri, 'Droid Sans', 'Trebuchet MS', Arial, sans-serif;
}

.wf-loading figcaption cite {
	font-family: Calibri, 'Droid Sans', 'Trebuchet MS', Arial, sans-serif;
}
 */
/* @end */

/* Do web fonts and other styles */

body  {
	font-family: Premiera, "Premiera Book", 'Droid Serif', Georgia, serif;
	font-size-adjust: 0.453;
}

b, strong, h1, h2, aside h3, .group h3 {
	font-family: Premiera, "Premiera Bold", Cambria, 'Droid Serif', Georgia, serif;
	font-weight: bold;
	font-style: normal;
	font-size-adjust: 0.461;
}

i, em, blockquote p, aside blockquote p {
	font-family: Premiera, "Premiera Italic", 'Droid Serif', Georgia, serif;
    font-style:normal;
	font-style: italic;
	font-size-adjust: 0.453;
}

h3, h4, figcaption strong, h5 strong {
    font-family: Akagi, "Akagi Bold", Calibri, 'Droid Sans', 'Trebuchet MS', Arial, sans-serif;
    font-size-adjust:0.49;
    font-weight:bold;
    font-style:normal;
}

h5, .section-is #nav-is, .section-does #nav-does, .section-made #nav-made, .section-contact #nav-contact {
    font-family: Akagi, "Akagi SemiBold", Calibri, 'Droid Sans', 'Trebuchet MS', Arial, sans-serif;
    font-size-adjust:0.49;
    font-weight:600;
    font-style:normal;
}

header, #main nav, .leader, footer ul, figcaption, .byline {
	font-family: Akagi, "Akagi Book", Calibri, 'Droid Sans', 'Trebuchet MS', Arial, sans-serif;
	font-weight: 300;
    font-style:normal;
	font-size-adjust: 0.49;
}

aside, .group, footer {
	font-family: "Akagi Medium", Calibri, 'Droid Sans', 'Trebuchet MS', Arial, sans-serif;
	font-weight: 500;
    font-style:normal;
	font-size-adjust: 0.49;
}

.vevent .meta, .lanyrd-listing .location, .lanyrd-listing .lanyrd-date strong, .thing cite, footer em, .group i, .group cite, .published {
	font-family: Akagi, "Akagi Medium Italic", Calibri, 'Droid Sans', 'Trebuchet MS', Arial, sans-serif;
	font-weight: 500;
    font-style: italic;
	font-size-adjust: 0.49;
}

figcaption cite {
	font-family: Akagi, "Akagi Book Italic", Calibri, 'Droid Sans', 'Trebuchet MS', Arial, sans-serif;
	font-weight: 300;
    font-style: italic;
	font-size-adjust: 0.49;
}

pre, code, kbd, tt, samp, tt {
	font-family: monospace;
}

/* OpenType features */

.smcp {
	-moz-font-feature-settings:"c2sc=1";
	-moz-font-feature-settings:"c2sc" 1;
	-ms-font-feature-settings:"c2sc" 1;
	-o-font-feature-settings:"c2sc" 1;
	-webkit-font-feature-settings:"c2sc" 1;
	font-feature-settings:"c2sc" 1; 
}
