/* @group Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
figure, figcaption,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:focus { /* put this back somewhere! */
	outline: 0;
}

table { /* tables may still need 'cellspacing="0"' in the markup */
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea, select, button, optgroup {
	font-family: inherit;
	font-size: 1em;
	line-height: inherit;
}

/* @end */

html {
	font-size: 18px;
	line-height: 1.3333em; /* 24px baseline grid */
}



body {
    color: rgb(0,60,60);
    background: rgb(231,232,233) url(/i/bg.png) repeat center top;
	border-top: 6px solid #99CC11;
}

a {
    color:#17b;
   -webkit-tap-highlight-color:#dcecf9;
    text-decoration:none;
    }
    :focus {
        outline:1px solid rgba(51,102,204,0.4);
    }
    a:hover,
    a:active {
        color:#39e;
        text-decoration:underline;
        background-color:none;
        outline:none;
    }
    a:link,
    a:visited,
    a:hover, 
    a:link img,
    a:visited img,
    a:hover img,
    a:active img {
       -webkit-transition:all 0.3s ease;
       -moz-transition:all 0.3s ease;
       -o-transition:all 0.3s ease;
        transition:all 0.3s ease;
    }
    a:active {
        color:#b41;
       -webkit-transition:none;
       -moz-transition:none;
       -o-transition:none;
        transition:none;
    }
    a:hover img, a:active img {
		box-shadow: 0 0 6px rgba(0,0,0,0.5);	
	}


h1 {
    color: rgb(0,75,75);
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 0.75em;
}

h2 {
    text-shadow: 0 1px 0 #FFFFFF;
	font-size: 36px;
	line-height: 1.16666666666667em /* 42px */;
	margin-bottom: 0.6667em;
	margin-top: 1.33333333333333em;
}

h3 {
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: 21px;
    line-height: 1.14285714285714;
	margin-bottom: 0.57142857142857em /* 12px */;
	margin-top: 1.14285714285714em;
}

h4 {
	float: left;
	margin-right: 0.75em;
}

h5 {
    text-shadow: 0 1px 0 #FFFFFF;
}

p {
	margin-bottom:0.66666666666667em;
}

ol {	/* ordered lists usually DO require (numbered) bullets */
	list-style-type: decimal;
	margin-left: 2em;
}

ul ul, ol ol, ol ul, ul ol {
	margin-bottom: 0;
}

img {
	max-width: 100%;
	vertical-align: bottom;
	box-shadow: 0 0 3px rgba(0,0,0,0.25);
}

figcaption {
	color: rgb(101,101,101);
	font-size: 15px;
	line-height: 1.4;
	margin-top: 0.2em;
}

figcaption strong {
	margin-right: 0.75em;
}

ins {
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

abbr[title] {
	border-bottom: none;
}

blockquote {
    text-indent:-0.3em;
    font-size: 24px;
	line-height: 1.25em /* 30px */;
	margin-top: -0.25em; /* baseline alignment */
}

blockquote p {
	margin-bottom: 0.5em;
}